<div>
    <h1>Tasks for Today</h1>
    <div data-bind='visible: loading > 0'>Loading...</div>

    <ul>
    <!-- ko foreach: rooms -->
        <li data-bind='text: $data'></li>

        <!-- ko foreach: $root.sTasks -->
        <!-- ko if: room == $parent -->
        <div data-bind='text: place'>
        </div>
        <div data-bind='text: task'>
        </div>
        <div data-bind='text: part'>
        </div>
        <!-- /ko -->
        <!-- /ko -->

    <!-- /ko -->
    </ul>
</div>
